.full-screen 
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50%;
  min-height: 50%;
}

.full-screen > img
{ 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50%;
  min-height: 50%;
}

#top-wrap
{
    position: absolute;
    width: 100%;
}

#div1
{
	position:absolute;
	left:25%;
	top:30%;
	width:50%;
	height:20%;
	z-index:0;
	border-radius: 8px;
}

#div2
{
	position:absolute;
	top:20%;
	width:100%;
	font-size:80px;
	color:#efb121;
	line-height:0px; 
	text-align: center;
}
 
@media screen {
    #div2 
    {
        font-size:5em;
    }
}

#div3
{
	position:absolute;
	top:60%;
	width:100%;
	z-index:0;
	font-size:22px;
	color:#ffffff;
	line-height:38px;
	text-align: center;
}

@media screen {
    #div3
    {
        font-size:1.5em;
    }
}

#div4
{
	position:absolute;
	left:40%;
	top:53%;
	width:20%;
	height:20%;
	z-index:0;
	border-radius: 8px;
}


#div5
{
	position:absolute;
	top:28.5%;
	width:100%;
	height:auto;
	z-index:0;
	font-size:22px;
	color:#000000;
	line-height:38px;
}

#table_carousel
{
	border-style: none; 
	width: 100%; 
	color:#000000;
}


