/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 mars 2017, 18:04:54
    Author     : andry
*/

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

body{ font-size:14px}#menu-main > li > a > span{ font-size:14px;color: white;}#menu-main1 > li > a > span{ font-size:14px;color: black;}#menu-main li li a span{ font-size:14px}.breadcrumb-nav span,.breadcrumb-nav a{ font-size:14px}.widget-area .widget-title{ font-size:16px}.footer-widget-area .widget-title{ font-size:16px}h1{ font-size:36px}h2{ font-size:30px}h3{ font-size:24px}h4{ font-size:20px}h5{ font-size:18px}h6{ font-size:16px}.site-tagline{ font-size:14px}.entry-meta li,.entry-meta li a,.entry-meta span{ font-size:14px}.page-title h1{ font-size:30px}.page-title h3{ font-size:14px}.post-pagination li a{ font-size:14px}.fxd-header {
    background-color: rgba(255,255,255,0.7);
}@media (min-width: 1200px){
    .container {
        width: 1170pxpx;
    }
}
.top-bar{background-color:#eee;}.site-name,.site-tagline{color:#595959;}footer .footer-info-area{background-color:rgb(142, 68, 173);}.fxd-header .site-nav > ul > li a{color:#333333;}.page-title-bar h1,.page-title-bar a,.page-title-bar span{color:#ffffff !important;}@media (min-width: 920px) {
    .main-header .site-nav > ul > li > a {
        padding-top: 0px;
    }
}@media (min-width: 920px) {
    .main-header .site-nav > ul > li > a{
        padding-bottom:0px;
    } 
}.fxd-header{background-color: rgba(255,255,255,0.7);}
.fxd-header .site-nav > ul > li > a {font-size:14px;}
.site-nav li ul{width:150px}@media screen and (min-width: 919px){
    .main-header .site-nav > ul > li > a{line-height:70px;}

    .site-nav > ul > li a{ border-bottom:2px solid transparent; }

}@media screen and (max-width: 919px){
    .site-nav-toggle {
        display: block;
    }
    .site-nav {
        display: none;
        width: 100%;
        margin-top: 0;
        background-color: #fff;
    }
    .site-nav > ul > li {
        float: none;
        overflow: hidden;
    }
    .site-nav > ul > li + li {
        margin-left: 0;
    }
    .site-nav > ul > li a {
        line-height: 50px;
        background-color: #efb121;
    }
    .site-nav > ul > li i {
        line-height: 50px;
    } 
    .site-nav li > ul {
        position: static;
        margin-left: 20px;
        z-index: 999;
        width: auto;
        background-color: transparent;
    }
    .site-nav li ul li > a {
        color: #555;
    }
    .site-nav li ul li:hover > a {
        color: #19cbcf;
    }
    .search-form {
        display: none;
        margin: 25px 0 15px;
    }
    header {
        min-height: 65px;
    }
    .site-logo {
        height: 50px;
    }
    .site-name {
        margin: 0;
        font-size: 24px;
        font-weight: normal;
    }
}.page-title-bar{
    background-image: url(http://localhost/wordpress/wp-content/themes/alchem/images/bg-1.jpg);
    background-repeat:no;}
.page-title-bar{
    padding-top:210px;
    padding-bottom:160px;
}@media (min-width: 992px) {
    .left-aside .col-main,
    .right-aside .col-main {
        width: 75%;
    }
    .left-aside .col-main {
        left: 25%; 
    }
    .left-aside .col-aside-left {
        right: 75%; 
    }
    .left-aside .col-aside-left,
    .right-aside .col-aside-right {
        width: 25%;
    }

}@media (min-width: 992px) {
    .both-aside .col-main {
        width: 60%;
    }
    .both-aside .col-aside-left {
        width: 20%;
    }
    .both-aside .col-aside-left {
        right: 60%;
    }
    .both-aside .col-aside-right {
        width: 20%;
    }
    .both-aside .col-main {
        left: 20%; 
    }
    .both-aside .col-aside-right {
        width: 20%;
    }

}.footer-widget-area{

    padding-top:60px;

    padding-bottom:40px;

}.footer-info-area{

}.footer-sns i {
    color:#c5c7c9
}.footer-sns a {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}.carousel-caption p{font-size:14px;}.carousel-caption p{text-align:left;}#alchem-home-sections .alchem-home-section-0{
  
    background-image:url(http://localhost/wordpress/wp-content/uploads/2017/02/500_F_127755517_LKA8lyJFvBMxkfWGXShrhig9AmQ5bqOm.jpg);
    padding-top:0;
    padding-bottom:0;
}
#alchem-home-sections .alchem-home-section-0,.alchem-home-section-0 p,.alchem-home-section-0 span,.alchem-home-section-0 h1,.alchem-home-section-0 h2,.alchem-home-section-0 div,.alchem-home-section-0 li,.alchem-home-section-0 i{
    color:#ffffff;
}
#alchem-home-sections .alchem-home-section-0 a.magee-btn-normal{ color:#ffffff;border-color: #ffffff}#alchem-home-sections .alchem-home-section-0 .owl-theme .owl-dots .owl-dot.active, #alchem-home-sections .alchem-home-section-0 .owl-theme .owl-dots .owl-dot:hover{background-color:#ffffff;}#alchem-home-sections .alchem-home-section-0 .owl-theme .owl-dots .owl-dot{border: 2px solid #ffffff;}#alchem-home-sections .alchem-home-section-1{
    background-color:#f5f5f5;
    background-image:url();
    padding-top:20px;
    padding-bottom:20px;
}
#alchem-home-sections .alchem-home-section-1,.alchem-home-section-1 p,.alchem-home-section-1 span,.alchem-home-section-1 h1,.alchem-home-section-1 h2,.alchem-home-section-1 div,.alchem-home-section-1 li,.alchem-home-section-1 i{

}
#alchem-home-sections .alchem-home-section-1 a.magee-btn-normal{ }
#alchem-home-sections .alchem-home-section-1 .owl-theme .owl-dots .owl-dot.active, #alchem-home-sections .alchem-home-section-1 .owl-theme .owl-dots .owl-dot:hover{}
#alchem-home-sections .alchem-home-section-1 .owl-theme .owl-dots .owl-dot{border: 2px solid ;}#alchem-home-sections .alchem-home-section-4{

    background-image:url();
    padding-top:60px;
    padding-bottom:50px;
}
#alchem-home-sections .alchem-home-section-4,.alchem-home-section-4 p,.alchem-home-section-4 span,.alchem-home-section-4 h1,.alchem-home-section-4 h2,.alchem-home-section-4 div,.alchem-home-section-4 li,.alchem-home-section-4 i{
 
}
#alchem-home-sections .alchem-home-section-4 a.magee-btn-normal{ }
#alchem-home-sections .alchem-home-section-4 .owl-theme .owl-dots .owl-dot.active, #alchem-home-sections .alchem-home-section-4 .owl-theme .owl-dots .owl-dot:hover{
}
#alchem-home-sections .alchem-home-section-4 .owl-theme .owl-dots .owl-dot{border: 2px solid ;}#alchem-home-sections .alchem-home-section-10{
    background-color:#efb121;
    background-image:url();
    padding-top:50px;
    padding-bottom:50px;
}
#alchem-home-sections .alchem-home-section-10,.alchem-home-section-10 p,.alchem-home-section-10 span,.alchem-home-section-10 h1,.alchem-home-section-10 h2,.alchem-home-section-10 div,.alchem-home-section-10 li,.alchem-home-section-10 i{
    color:#ffffff;
}
#alchem-home-sections .alchem-home-section-10 a.magee-btn-normal{ color:#ffffff;border-color: #ffffff;}#alchem-home-sections .alchem-home-section-10 .owl-theme .owl-dots .owl-dot.active, #alchem-home-sections .alchem-home-section-10 .owl-theme .owl-dots .owl-dot:hover{background-color:#ffffff;}#alchem-home-sections .alchem-home-section-10 .owl-theme .owl-dots .owl-dot{border: 2px solid #ffffff;}#custom {
}

.text-primary {
    color: #fdd200;
}
.text-muted {
    color: #777;
}
.text-light {
    color: #fff;
}
a:active,
a:hover {
    color: #fdd200;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    color: #fdd200;
}
mark,
ins {
    background: #fdd200;
}
::selection {
    background: #fdd200;
}
::-moz-selection {
    background: #fdd200;
}
.site-nav > ul > li.current > a {
    color: #fdd200;
}
@media screen and (min-width: 920px) {
    .site-nav > ul > li:hover > a {
        border-color: #fdd200;
    }
    .overlay .main-header .site-nav > ul > li:hover > a {
        border-color: #fff;
    }
    .side-header .site-nav > ul > li:hover > a {
        border-right-color: #fdd200;
    }
    .side-header-right .site-nav > ul > li:hover > a {
        border-left-color: #fdd200;
    }
}
.blog-list-wrap .entry-header:after {
    background-color: #fdd200;
}
.entry-meta a:hover {
    color: #fdd200;
}
.entry-footer li a:hover {
    border-color: #fdd200;
}
.post-attributes h3:after {
    background-color: #fdd200;
}
.post-pagination li a:hover {
    border-color: #fdd200;
    color: #fdd200;
}
.form-control:focus,
select:focus,
input:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="subject"]:focus input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: inherit;
}
a .entry-title:hover {
    color: #fdd200;
}
.widget-title:after {
    background-color: #fdd200;
}
.widget_nav_menu li.current-menu-item a {
    border-right-color: #fdd200;
}
/*Shortcode*/
.primary-color,
.text-primary {
    color: #fdd200;
}
.magee-dropcap {
    color: #fdd200;
}
.primary-background,
.dropcap-boxed {
    background-color: #fdd200;
    color: #fff;
}
.magee-highlight {
    background-color: #fdd200;
}
.btn-normal,
a.btn-normal,
.magee-btn-normal,
a.magee-btn-normal,
.comment-reply-link,
.form-submit .submit {
    background-color: #fdd200;
    color: #fff;
}
.btn-normal:hover,
.magee-btn-normal:hover,
.comment-reply-link:hover,
.form-submit .submit:hover,
.btn-normal:active,
.magee-btn-normal:active,
.comment-reply-link:active,
.form-submit .submit:active,
.btn-normal:focus,
.magee-btn-normal:focus,
.comment-reply-link:focus,
.form-submit .submit:focus {
    background-color: #e4bd00;
    color: #fff;
}
.magee-btn-normal.btn-line {
    background-color: transparent;
    color: #fdd200;
    border-color: #fdd200;
}
.magee-btn-normal.btn-line:hover,
.magee-btn-normal.btn-line:active,
.magee-btn-normal.btn-line:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
.magee-btn-normal.btn-3d {
    box-shadow: 0 3px 0 0 #caa800;
}
.icon-box.primary {
    color: #fdd200;
}
.portfolio-list-filter li a:hover,
.portfolio-list-filter li.active a,
.portfolio-list-filter li span.active a {
    background-color: #fdd200;
    color: #fff;
}
.magee-tab-box.tab-line ul > li.active > a {
    border-bottom-color: #fdd200;
}
.panel-primary {
    border-color: #fdd200;
}
.panel-primary .panel-heading {
    background-color: #fdd200;
}
.pricing-top-icon {
    color: #fdd200;
}
.magee-pricing-box.featured .panel-heading {
    background-color: #fdd200;
}
.pricing-tag .currency {
    color: #fdd200;
}
.pricing-tag .price {
    color: #fdd200;
}
.pricing-box-flat.featured {
    background-color: #fdd200;
    color: #fff;
}
.person-vcard .person-title:after {
    background-color: #fdd200;
}
.person-social li a:hover {
    color: #fdd200;
}
.person-social.boxed li a:hover {
    color: #fff;
    background-color: #fdd200;
}
.magee-progress-box .progress-bar {
    background-color: #fdd200;
}
.counter-top-icon {
    color: #fdd200;
}
.counter:after {
    background-color: #fdd200;
}
.timeline-year {
    background-color: #fdd200;
}
.timeline-year:after {
    border-top-color: #fdd200;
}
@media (min-width: 992px) {
    .magee-timeline:before {
        background-color: #fdd200;
    }
    .magee-timeline > ul > li:before {
        background-color: #fdd200;
    }
    .magee-timeline > ul > li:last-child:before {
        background-image: -moz-linear-gradient(left, #fdd200 0%, #fdd200 70%, #fff 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(#fdd200), color-stop(0.7, #fdd200), to(#fff));
        background-image: -webkit-linear-gradient(left, #fdd200 0%, #fdd200 70%, #fff 100%);
        background-image: -o-linear-gradient(left, #fdd200 0%, #fdd200 70%, #fff 100%);
    }
}
.icon-list-primary li i {
    color: #fdd200;
}
.icon-list-primary.icon-list-circle li i {
    background-color: #fdd200;
    color: #fff;
}
.divider-border .divider-inner.primary {
    border-color: #fdd200;
}
.img-box .img-overlay.primary {
    background-color: rgba(253, 210, 0, 0.7);
}
.img-box .img-overlay-icons i {
    background-color: #fdd200;
}
.portfolio-img-box {
    background-color: #fdd200;
}
.tooltip-text {
    color: #fdd200;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #fdd200;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #fdd200;
}
.magee-feature-box.style4.primary-background {
    background-color: #fdd200;
    color: #fff;
}
#about {
    margin-top:14rem!important
}
.col-sm-12,div.col-sm-8.col-sm-offset-2 {
    margin-top:-70rem!important
}